.footer {
  position: relative;
  min-height: 30vh;
  background-color: #000e1e;
  color: white;
  padding: 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialMedia {
  text-align: center;
}

.socialMedia > a {
  font-size: 1.6rem;
}

@media (max-width: 699px) {
  .footer {
    min-height: 32vh;
    align-items: flex-start;
  }
  .uniLogo {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
  }
}
