.navbar {
  width: 100%;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffff3;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.logoAnchor {
  width: 0;
}

.navbarItemContainer {
  min-width: 20%;
  display: flex;
  justify-content: space-around;
}

.navbarItem {
  list-style: none;
}

@media (max-width: 699px) {
  .navbar {
    padding: 0rem 0.5rem;
  }

  .navbarItemContainer {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
  }
}
